<%= render 'comments/form', comment: comment, target_model: target_model %>
<% if comments.present? %>
  <ol>
    <% comments.each do |comment| %>
      <li>
        <%= comment.body %>
        <%= user_name_or_email(comment.user) %>
        <%= l comment.created_at, format: :long %>
        <% if current_user?(comment.user)  %>
          <%= link_to t('views.common.destroy'), polymorphic_url([target_model, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p><%= t('activerecord.errors.messages.not_exist', model: t('activerecord.models.comment'))  %></p>
<% end %>
