<%= form_with(url: polymorphic_url([target_model, comment])) do |form| %>
  <%= render 'errors/errors', model: comment %>

  <div class="field">
    <%= form.label t('activerecord.attributes.comment.body') %>
    <%= form.text_area :body, required: true, size: '40x4'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
