<h1><%= t 'views.common.followings', user: @user.name %></h1>

<% if @target_users.any? %>
  <%= render 'follow_list' %>
<% else %>
  <p><%= t 'views.common.no_followings' %></p>
<% end %>

<%= link_to followers_user_path  do %>
  <p><%= t 'views.common.followers', user: @user.name %><p>
<% end %>
<%= link_to t('views.common.back'), user_path %>
