<%= form_with(model: report) do |form| %>
  <%= render 'error/errors'. model: report %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true, size: '40x4' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
