<% if reports.present? %>
  <table>
    <thead>
    <tr>
      <th></th>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:content) %></th>
      <th><%= User.model_name.human %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% reports.each do |report| %>
      <tr>
        <th>
        </th>
        <td><%= report.title %></td>
        <td><%= report.body %></td>
        <td><%= report.user.name %></td>
        <td><%= link_to t('views.common.show'), report %></td>
        <% if report.user == @current_user  %>
          <td><%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('activerecord.errors.messages.not_exist', model: t('activerecord.models.report'))  %></p>
<% end %>
