<% if reports.present? %>
  <table>
    <thead>
    <tr>
      <th></th>
      <th><%= User.model_name.human %></th>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:body) %></th>
      <th><%= Report.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% reports.each do |report| %>
      <tr>
        <th>
          <% if report.user.avatar.attached? %>
            <%= image_tag report.user.avatar.variant(resize_to_fill: [30, 30])%>
          <% end %>
        </th>
        <td>
          <%= user_name_or_email(report.user) %>
        </td>
        <td><%= report.title %></td>
        <td><%= report.body %></td>
        <td><%= l report.created_at, format: :year_month_day %></td>
        <td><%= link_to t('views.common.show'), report %></td>
        <% if current_user?(report.user) %>
          <td><%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('activerecord.errors.messages.not_exist', model: t('activerecord.models.report'))  %></p>
<% end %>
