<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l @report.created_at, format: :year_month_day %>
</p>

<p>
  <strong><%= User.model_name.human %>:</strong>
  <%= link_to(@report.user.name, @report.user) %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @report.user.avatar.attached? %>
    <br>
    <%= image_tag @report.user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<%= render 'comments/comments', comments: @comments, target_model: @report, comment: @comment %>
<% if current_user?(@report.user) %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
